.task {
    height: auto;
    background-color: ligthgray;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.delete-task {
    
}

.title {
    display: flex;
    justify-content: center;
}

.priorities {
    height: 20px;
    background-color: rgb(62, 123, 255);
    margin: 10px 10px;
    border-radius: 2px;
}

.priority {
    background-color: rgb(255, 171, 62);
}

.lowest-priority {
    background-color: rgb(223, 223, 223);
}

.normal-priority {
    background-color: rgb(62, 123, 255);
}


div, h3 {
    margin: 2px 0px;
}